h3{
    font-family: 'Open sans';
    font-weight: bold;
    text-align: center;
    width: 70%;
    
    background-color: #CAE3DB;
    border-radius: 5px;
    text-shadow: 2px 2px 2px #7A7A7A;
    color: rgb(39, 39, 39);
    margin-top: 10px;
    margin-bottom: 40px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
mat-expansion-panel{
    margin-bottom: 15px;
    background-color:#CAE3DB ;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}
mat-progress-bar{
    
    width: 500px;
    
}
.content-loading{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 87%;
    background-color: rgb(255, 255, 255);
    z-index: 100;
    height: 700px;
    left: 160px;
    position: absolute;
    align-items: center;
    margin-top: -30px;
    padding-top: 80px;
    img{
        
        top:-30;
        margin-bottom: 30px;
    }
}