form{
    width: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    
}
   
.imgFormLogo {
    
    img{
        width: 8rem;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }
        
} 
    

button{
    width: 250px;  
  
}
   

    
section{
    animation:fadeIn;
    animation-duration: 2s;
    height: auto;
}
.content-gen {
    background-image: url('../../../../assets/img/nn.png');
    background-repeat: no-repeat;
    border-radius: 10px;
    padding-bottom: 30px;
    width: 300px;
}
.content-login{
  
    height: 100%;
    padding-top: 10px;
    width: 100%;
  
}
.mat-form-field{
    width: 250px;
}
.btnIniciar{
    background-color: #F0C028;
    -webkit-box-shadow: 1px 1px 10px 2px #C2C2C2;
    box-shadow: 1px 1px 10px 2px #C2C2C2;
   
}
.btnIniciar:focus{
    background-color: #7C9D94;
}
